body{
    padding: 0;
    margin: 0;
}

.parent{
    width: auto;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0;
    display: flex;
}
.leftpor{
    /* border: 1px solid green; */
    flex: 0.05;
    /* padding-left:     2vw; */
    display: flex;
    flex-direction: column;
    background-color: white;
}
.bigb{
    padding: 15px 15px 15px 23px;
    cursor: pointer;


}
.bigb h3{
    margin: 0;
    padding: 0;
    /* align-self: center; */
    /* text-align: right; */
    /* vertical-align: text-top; */
    writing-mode: vertical-lr;
    /* writing-mode: vertical-rl; */
    text-orientation: upright;
    width: fit-content;
    font-size: 18px;
    font-weight: bolder;
}
.leftpor img{
    width: 80px;
    object-fit: contain;
    align-self: center;
    margin-bottom: 20px;
}
.leftpor p{
    font-size: 40px;
    display: inline;
    align-self: center;
    /* margin: auto; */
    /* border: 1px solid red; */
    position: absolute;
    bottom: -30px;
}
.bigb:hover{
    border-right: 5px solid black;   

}
.rightpor{
    
    /* border: 1px solid blue; */
    flex: .95;
    background-color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSZwBcoo-iwY8zEsa3cDI-AAN6QWqCOezdgg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
   
    height: auto;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-left: 8vw;
}
.btns{
    padding: 10px;
}
.content h1{
    font-style: normal;
    font-weight: bolder;
    font-size: 100px;
    margin: 0;
    margin-bottom: 20px;
}
.content h4{
    font-style: normal;
    font-weight:100;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}
.content button{
    background-color: white;
    font-weight: bold;
    border: none;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    outline-width: 0;
}
.content button:hover{
    border: 2px solid black;
}