<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
        include ../cssfile/usinginpg.css
</head>

<body>

    <div class="class" id="div1">
        <img src="silhouette-3276824_1280.png" id="logo" alt="img">
        <h1 id="hh1">FIT-GYM</h1>

    </div>
    <div class="class" id="div2">
        <nav>
            <ul>
                <li class="nav"><a href="project1.html">Home</a></li>
                <li class="nav"><a href="https:/google.com">Menu</a></li>
                <li class="nav"><a href="#">Gym-kit</a></li>
                <li class="nav"><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>
    <div class="class" id="div3">
        <button class="rbut">    #{message}
        </button>
        <!-- button mtlb "sirf text hi" but  uske saat border pre-added ata hai with background-color:white -->
        <button class="rbut">#{helloji}</button>


    </div>
    <div class="class" id="div4">
        <form action="/hhhh" method="POST">
            <h2 style="position: relative; left: 14px;">Join us now:</h2>
            <input type="text" name="Name" id="" class="inp" placeholder="Enter your Name">
            <input type="text" name="age" id="" class="inp" placeholder="Enter your age">
            <input type="text" name="ph" id="" class="inp" placeholder="Enter your phone no.">
            <input type="text" name="email" id="" class="inp" placeholder="Enter your e-mail">
            <input type="text" name="address" id="" class="inp" placeholder="Enter your address">
            <button class="sbbt">Submit</button>
        </form>

    </div>

</body>

</html>


<!-- NOTE-POINT:
AAB aapnko ess html k saat kuch variables meh set krne hai bcoz yeh ek template hai and apan ka use variables send krne k liyeh krteh hai bt actual meh apanko apne webpage ko dynamic bhi dikhana hai isiliy apan ne ess template meh HTML and VARIABLES dono daale hai-->