# as yeh file apn esliy banateh takki jab apn apne ess project ko github pe upload krenge , then apn github ko yeh bata skteh hai ki apnko yeh cheeeze upload nhi krni hai.

# thus toh apn ess file meh voh-voh cheeze likhteh hai jo apnnko github pe upload nhi krni.

node_modules