<!-- where yaha pe ejs mtlb embeded-javaScript mtlb html meh embeded-javaScript and eska mostly use html meh Varialbes ka use krne k liyeh hota hai. x -->
<!-- as toh yeh .ejs file ek html-with-embeded-javaScript file hi hai, and eska use apn html meh javaScript use krne k liyeh krteh hai. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <link rel="stylesheet" href="styli.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>"
        // console.log("<%= roomId %>")
        // as ess tarah hi apn ejs ko use krteh hai.
    </script>
</head>
<body>
    hey are u Pumped-up 
    Let's build Zoom-clone with Express.js and node.js
    <div id="vedio-grid">
        
    </div>

    <script src="scripti.js"></script>

</body>
</html>